body {
  background-color: grey;
}

#red {
  color: red
}

#orange {
  color: orange
}

#yellow {
  color: yellow
}

#green {
  color: green
}

#blue {
  color: blue
}

#navy {
  color: navy
}

#purple {
  color: purple
}